[submodule "foxtrot/vendor/spdlog"]
	path = foxtrot/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "foxtrot/vendor/sfml"]
	path = foxtrot/vendor/sfml
	url = https://github.com/SFML/SFML.git
